In [10]:
import joblib
import sklearn.ensemble as se

In [7]:
data = joblib.load("../../data/processed/clean_data.joblib")

In [8]:
data["Sales"]

Date
2013-01-02     3697.0
2013-01-03     4297.0
2013-01-04     4540.0
2013-01-05     4771.0
2013-01-07     6905.0
               ...
2014-06-25     3575.0
2014-06-26     3335.0
2014-06-27     4724.0
2014-06-28     5398.0
2014-06-30    12410.0
Name: Sales, Length: 497376, dtype: float64

In [17]:
map_outlier = se.IsolationForest().fit_predict(data[["Sales", "CompetitionDistance", "aggregated_promo2", "days_since_competition"]])

In [18]:
data[map_outlier == 1]

,Store,DayOfWeek,Sales,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,PromoInterval,Year,Month,Day,aggregated_promo2,is_weekend,days_since_competition,HighSaleDay
Date,,,,,,,,,,,,,,,,,
2013-01-02,1115.0,3.0,3697.0,0.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,2,219,0,-1,0
2013-01-03,1115.0,4.0,4297.0,0.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,3,220,0,-1,0
2013-01-04,1115.0,5.0,4540.0,0.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,4,221,1,-1,0
2013-01-05,1115.0,6.0,4771.0,0.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,5,222,1,-1,0
2013-01-07,1115.0,1.0,6905.0,1.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,7,224,1,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-04-12,127.0,6.0,5230.0,0.0,0,0.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,4,12,1475,1,3054,0
2014-04-15,127.0,2.0,6705.0,1.0,0,1.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,4,15,1478,0,3057,0
2014-04-16,127.0,3.0,7278.0,1.0,0,1.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,4,16,1479,0,3058,0
2014-04-17,127.0,4.0,7237.0,1.0,0,1.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,4,17,1480,0,3059,0
2014-04-19,127.0,6.0,6222.0,0.0,0,0.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,4,19,1482,1,3061,0

In [19]:
data

,Store,DayOfWeek,Sales,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,PromoInterval,Year,Month,Day,aggregated_promo2,is_weekend,days_since_competition,HighSaleDay
Date,,,,,,,,,,,,,,,,,
2013-01-02,1115.0,3.0,3697.0,0.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,2,219,0,-1,0
2013-01-03,1115.0,4.0,4297.0,0.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,3,220,0,-1,0
2013-01-04,1115.0,5.0,4540.0,0.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,4,221,1,-1,0
2013-01-05,1115.0,6.0,4771.0,0.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,5,222,1,-1,0
2013-01-07,1115.0,1.0,6905.0,1.0,0,1.0,d,c,5350.0,"Mar,Jun,Sept,Dec",2013,1,7,224,1,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-06-25,127.0,3.0,3575.0,0.0,0,0.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,6,25,1549,0,3128,0
2014-06-26,127.0,4.0,3335.0,0.0,0,0.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,6,26,1550,0,3129,0
2014-06-27,127.0,5.0,4724.0,0.0,0,0.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,6,27,1551,1,3130,0
2014-06-28,127.0,6.0,5398.0,0.0,0,0.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,6,28,1552,1,3131,0
2014-06-30,127.0,1.0,12410.0,1.0,0,0.0,d,a,1350.0,"Jan,Apr,Jul,Oct",2014,6,30,1554,1,3133,2